
 :host{
display: block;
 }


/*body{
  font-family: 'Montserrat',sans-serif;
  background-color: #f5f5f5;
}
*/

 header {
  text-align: center;
  margin-top: 100px;
  background-color: #fff;
  height: 170px;
  position: relative;



}


p{

  color: #542525;
}
header h1 {
  font-size: 45px;
  font-weight: 100;
  text-align: center;
 
  color:#000 ;
   font-family: "blight",Montserrat;
}
header h1 span {
  font-weight: 400;
 color: #e71c37;


}
header h5 {
  
  font-weight:200;
  font-family: "pthin", sans-serif;
  letter-spacing: 1px;

}
/*****************************FORM STYLES*****************************/

 #a .card{
  border-radius: 0;
 }



.card-header h5{

  font-family: "Montserrat",sans-serif;
  color: #202020 !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

  #a input, .form-control{
      background: #F2F2F2;
      border: solid 1px #E8E8E8;
}




.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


.file-select{
  font-family: "poppins",sans-serif;
  font-weight: 400;
}







#b .card{

  max-height: 220px;
  border-radius: 0;
}

hr{
border-bottom-width: 2px;
}


#b h5{
  
  
  
  padding:5px;
  color: black !important;
  text-transform: uppercase;
}

#b h5 a{

  font-family: 'Montserrat',sans-serif;
   font-size: 23px;
  color: black;
  font-weight: 400;
}


.post-details{
  font-size: 14px;
  

}


.col-md-7{

  background-color: #f7f7f7;
  
}


.btn{
  background-color: #202020; 
  color: #fff;
  transition: opacity 1s ease-in-out;
      font-family: 'Montserrat', sans-serif;
      font-size: 9px;
    letter-spacing: 2px;
}



















 







@media (min-width: 768px) and (max-width: 991px) {


   }

@media (max-width: 767px) {

  
   }
