a{
	text-decoration: none;
}



@font-face {
    font-family: 'blight';

    src: url('/assets/fonts/BankGothic Light.ttf'); 
}


@font-face {
    font-family: 'glight';

    src: url('/assets/fonts/GothamRounded Light.otf'); 
}




@font-face {
    font-family: 'hlight';

    src: url('/assets/fonts/Hero Light.otf'); 
}
@font-face {
    font-family: 'hero';

    src: url('/assets/fonts/Hero.otf'); 
}





@font-face {
    font-family: "plight";

    src: url('/assets/fonts/Proxima Nova Light.otf'); 
}

@font-face {
    font-family: "pregular";

    src: url('/assets/fonts/Proxima Nova Regular.otf'); 
}
@font-face {
    font-family: "pthin";

    src: url('/assets/fonts/Proxima Nova Thin.otf'); 
}




@font-face {
    font-family: "rlight";

    src: url('/assets/fonts/rooney sans light.otf'); 
}




@font-face {
    font-family: "rooney";

    src: url('/assets/fonts/rooney sans.otf'); 
}



.form-control.ng-invalid.ng-touched {
  border:1px solid #ba2837;
}
.form-control.ng-valid.ng-touched {
  border:1px solid green;
}



/*.alert-danger{
 
  padding: 3px;
  border-radius: 0;
  position: relative; 
  display: inline-block;
  border: 2px solid #ba2837;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 8px;
  color: black;
}*/

.btn.btn-primary[disabled] {
    cursor:not-allowed;
}


.form-control{
  border-radius: 0;
}





button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  opacity: .9 !important;
}

.form-control:focus {
        border-color: black;
        box-shadow: 0px 0px 0px 0px black;
    }


    .myalert{
color: #cc0000;
font-family: "poppins",Raleway;
font-size: 14px;

    }






 